/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:focus {
  outline: none;
}

mat-icon.icon-button {
  cursor: pointer;
}

mat-icon.icon-secondary,
mat-icon.icon-secondary:focus {
  color: #E91E63;
}

.mat-form-field-appearance-fill div.mat-form-field-flex {
  background-color: transparent;
  padding: 0.25em 0 0 0;
}

.mat-form-field-appearance-fill div.mat-form-field-infix {
  padding: 0;
}
