<!--
<div *ngFor="let projects of projectList$ | async | keyvalue">
  {{projects.key}}
  {{tmp(projects)}}
  {{tmp(projects.value)}}
  -->
<div fxLayout fxLayoutAlign="center center">
  <mat-form-field fxFlex="60%">
    <input matInput
           type="text"
           (keyup)="doFilter($event.target)"
           placeholder="Filter">
  </mat-form-field>
</div>

<table mat-table [dataSource]="projectList$" multiTemplateDataRows matSort class="mat-elevation-z8">

  <ng-container matColumnDef="action_pre">
    <th mat-header-cell *matHeaderCellDef style="width: 36px"></th>
    <td mat-cell *matCellDef="let element">
      <mat-icon (click)="setSelectedProject(element)" class="icon-button">{{selectedProject === element ? 'expand_less' : 'expand_more'}}</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="priority">
    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 48px">Prio</th>
    <td mat-cell *matCellDef="let element">{{element.priority}}</td>
  </ng-container>

  <ng-container matColumnDef="project">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Projekt</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>

  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 100px">Von</th>
    <td mat-cell *matCellDef="let element">{{element.startDate | date}}</td>
  </ng-container>

  <ng-container matColumnDef="endDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 100px">Bis</th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="element.endDate"><b>{{element.endDate | date}}</b></span>
      <span *ngIf="!element.endDate">{{element.plannedEndDate | date}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef style="width: 80px">Status</th>
    <td mat-cell *matCellDef="let element">{{element.status}}</td>
  </ng-container>

  <ng-container matColumnDef="action_post">
    <th mat-header-cell *matHeaderCellDef style="width: 48px">
      <mat-icon routerLink="/project" class="icon-button">add</mat-icon>
    </th>
    <td mat-cell *matCellDef="let element">
      <mat-icon routerLink="/project/{{element.id}}/status" class="icon-button">update</mat-icon>
      <mat-icon routerLink="/project/{{element.id}}" class="icon-button">edit</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="table-expandable-detail" [@detailExpand]="element === selectedProject ? 'expanded' : 'collapsed'">
        <div class="table-expandable-name">
          {{element.name}}
        </div>
        <div class="table-expandable-description">
          {{element.description}}
        </div>
        <div *ngIf="selectedProjectLatestStatus">
          <h3>aktueller Status<small> - {{selectedProjectLatestStatus.date | date}}</small></h3>
          <div class="table-expandable-description">
            {{selectedProjectLatestStatus.tweet}}
          </div>
          <div class="table-expandable-description">
            {{selectedProjectLatestStatus.nextSteps}}
          </div>
          <div class="table-expandable-description">
            {{selectedProjectLatestStatus.problems}}
          </div>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="table-expandable-row"  [class.example-expanded-row]="selectedProject === element"></tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="table-expandable-detail-row"></tr>

</table>

<mat-paginator [pageSize]="20"></mat-paginator>

<!-- </div> -->
