table {
  width: calc(100% - 4em);
  min-width: 500px;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 2em;
}

th.mat-header-cell {
  text-align: left;
  min-width: 24px;
  max-width: 250px;
}

tr.table-expandable-detail-row {
  height: 0;
}

tr.table-expandable-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.table-expandable-row:not(.example-expanded-row):active {
  background: #efefef;
}

.table-expandable-row td {
  border-bottom-width: 0;
}

.table-expandable-detail {
  overflow: hidden;
  display: flex;
}

span.priority {
  white-space: pre;
  outline: 1px solid;
}
