<mat-toolbar color="primary" class="expanded-toolbar">
    <span>
      <button mat-button routerLink="home">{{ title }}</button>
      <button mat-button routerLink="home"><mat-icon>home</mat-icon></button>
      <button mat-button routerLink="projects" *ngIf="!isLoggedIn"><mat-icon>list</mat-icon></button>
    </span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button href="/login" routerLink="login" *ngIf="!isLoggedIn">
      <mat-icon>power_settings_new</mat-icon>
      Login
    </button>
    <button mat-button *ngIf="isLoggedIn" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item href="/home" routerLink="home">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-menu-item href="/projects" routerLink="projects" *ngIf="!isLoggedIn">
    <mat-icon>list</mat-icon>
  </button>
  <button mat-menu-item href="/login" routerLink="login" *ngIf="!isLoggedIn">
    <mat-icon>power_settings_new</mat-icon>
    Login
  </button>
  <button mat-menu-item *ngIf="isLoggedIn" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button>
</mat-menu>
<router-outlet></router-outlet>
