<div fxLayout="row" fxLayoutGap="32px">
  <table mat-table [dataSource]="projectStatusList$" multiTemplateDataRows class="mat-elevation-z8">

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef style="width: 150px">Datum</th>
      <td mat-cell *matCellDef="let element">{{element.date | date}}</td>
    </ng-container>

    <ng-container matColumnDef="action_post">
      <th mat-header-cell *matHeaderCellDef style="width: 24px">
        <mat-icon (click)="setSelectedProjectStatus(null)" class="icon-button">add</mat-icon>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon (click)="setSelectedProjectStatus(element)" [ngClass]="{'icon-secondary': element === selectedProjectStatus}" class="icon-button">keyboard_arrow_right</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"></tr>
  </table>

  <mat-card>
    <mat-card-content>
      <h1>{{project.name}}<small *ngIf="selectedProjectStatus"> - {{selectedProjectStatus.date | date}}</small></h1>
      <form *ngIf="selectedProjectStatus"
            name="form"
            (ngSubmit)="f.form.valid && save()"
            #f="ngForm"
            novalidate>
        <mat-form-field class="full-width-input">
          <input matInput
                 placeholder="Tweet"
                 type="text"
                 class="form-control"
                 name="tweet"
                 [(ngModel)]="selectedProjectStatus.tweet"
                 required>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput
                 placeholder="Next Steps"
                 type="text"
                 class="form-control"
                 name="nextSteps"
                 [(ngModel)]="selectedProjectStatus.nextSteps"
                 required>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput
                 placeholder="Problems"
                 type="text"
                 class="form-control"
                 name="problems"
                 [(ngModel)]="selectedProjectStatus.problems">
        </mat-form-field>
        <button mat-raised-button color="primary">Speichern</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
