<mat-card>
  <mat-card-content>
    <form *ngIf="!isLoggedIn"
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate>
      <h2>Log In</h2>
      <mat-form-field class="full-width-input">
        <input matInput
               placeholder="Benutzername"
               type="text"
               class="form-control"
               name="username"
               [(ngModel)]="form.username"
               required
               #username="ngModel">
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput
               placeholder="Passwort"
               type="password"
               class="form-control"
               name="password"
               [(ngModel)]="form.password"
               required
               minlength="6"
               #password="ngModel">
      </mat-form-field>
      <mat-error *ngIf="f.submitted && isLoginFailed">
        Benutzername oder Passwort nicht korrekt.
      </mat-error>
      <button mat-raised-button color="primary">Login</button>
    </form>
    <h2>Sie sind eingeloggt {{ username }} als {{ roles }}</h2>
  </mat-card-content>
</mat-card>
